textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  resize: none;
}

input[type=text],
input[type=email] {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
}

input[type=text]:focus,
input[type=email]:focus {
  outline: none;
}

section {
  background-color: #3C3C3C;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url('http://static.tumblr.com/sirdwhf/kQooc40d4/contact_bg.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0% 93%;
  position: relative;
}

label {
  font-weight: 400;
}

/* header */

.header {
  text-align: center;
  background-color: #29C2AF;
  height: 70px;
}

.header h1 {
  margin-top: 0px;
  color: #FFF;
  text-transform: none;
  line-height: 70px;
}


/* content */

.content {
  width: 70%;
  max-width: 960px;
  margin: 0px auto;
  color: #fff;
}

.content label:not(.error) {
  display: inline-block;
  letter-spacing: 2px;
  font-size: 100%;
}

.content label.chinese {
  font-size: 120%;
}

.content label.english {
  margin-left: 5px;
  font-size: 100%;
}

img.tip {
  display: inline-block;
}

.content>div {
  margin: 30px 0px;
}

.input-field {
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 50px;
}


/* contact */

.idea .input-field {
  background-image: url('http://static.tumblr.com/sirdwhf/SB8oc40du/contact_gg.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}

.input-field textarea {
  width: 100%;
  color: #aaa;
}


.pointer {
  cursor: pointer;
  background-color: #fff;
}

.budget .input-field .dragfield {
  width: 80%;
  margin: 0px auto;
  position: relative;
}

.budget .input-field .selector {
  display: inline-block;
  visibility: hidden;
  height: 40px;
  width: auto;
}

#left-selector,
#right-selector {
  position: absolute;
  visibility: initial;
  cursor: pointer;
}

.budget .input-field .tip {
  display: inline-block;
  position: relative;
}

.budget .input-field .tip-arrow {
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  border-color: transparent;
  border-style: solid;
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #eb8b8f;
}

.budget .input-field .tip-inner {
  background-color: #eb8b8f;
  display: inline-block;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  max-width: 200px;
  border-radius: 5px;
  margin-left: 5px;
}

/*.budget .input-field .range {
    margin: 0px auto;
    width: 80%;
    position: relative;
}

.budget .input-field .range .max-value {
    position: absolute;
}

.budget .input-field .range .range-img {
    width: 100%;
}

.budget .input-field .numbers-field {
    text-align: center;
}

.budget .input-field .numbers-field .des {
    display: inline-block;
    width: 12.8%;
}*/

.budget label.advice {
  font-size: 100%;
  background-color: #49ab99;
  border-radius: 5px;
  padding: 1px 3px;
  color: #000;
  margin-left: 5px;
}

/* new budget */
#slider-range {
  margin: 60px 14%;
  margin-bottom: 0px;
}

#slider-range.ui-corner-all {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.ui-slider-range {
  background: #f48192;
}

.ui-widget.ui-widget-content {
  border: 0px solid;
  background: #838383;
}

.ui-widget-content .ui-state-default:focus {
  outline: none;
  cursor: pointer;
}

.ui-widget-content .ui-state-default:nth-child(2) {
  background: url("http://static.tumblr.com/sirdwhf/Wexocf424/contact_lefthand.png");
  background-repeat: no-repeat;
  background-size: 100%;
  border: 0px;
}

.ui-widget-content .ui-state-default:nth-child(3) {
  background: url("http://static.tumblr.com/sirdwhf/DXpocf42w/contact_righthand.png");
  background-repeat: no-repeat;
  background-size: 100%;
  border: 0px;
}

.ui-slider-horizontal .ui-slider-handle:nth-child(2) {
  top: -2.7em;
  margin-left: -2.4em;
}

.ui-slider-horizontal .ui-slider-handle:nth-child(3) {
  top: -2.7em;
  margin-left: -0.4em;
}

.ui-slider .ui-slider-handle {
  width: 3em;
  height: 3em;
}

.budget .input-field .numbers-field {
  text-align: center;
  overflow-x: hidden;
  margin: 0.5em 3em 2em 3em;
}

.budget .input-field .numbers-field .des {
  display: inline-block;
  width: 16%;
}

.phone {
  position: relative;
}

.phone .input-field {
  position: relative;
  z-index: 0;
}

.phone img.papa {
  position: absolute;
  top: -27px;
  right: -40px;
  z-index: 0;
  width: auto;
  height: auto;
}

#result {
  text-align: center;
  color: #ff373b;
  font-size: 200%;
  margin-top: 15px;
}


/* error */

.error {
  margin-left: 5px;
  display: none;
}

img.error {
  /*display: inline;*/
  display: none;
  vertical-align: sub;
}

label.error {
  vertical-align: baseline;
  color: #E94D4C;
}

.error img {
  display: inline;
  vertical-align: sub;
}

.error span {
  color: #E94D4C;
}


/* btn_sender */

#btn-sender,
#btn-sender label {
  cursor: pointer;
}

.btn-sender {
  text-align: center;
}

.btn-sender #btn-sender {
  display: inline-block;
  padding: 15px 25px;
  border: 5px solid #39b9ad;
  border-radius: 25px 10px;
  /*background-image: url('http://static.tumblr.com/sirdwhf/nD0oc40go/contact_send.png');*/
  /*background-repeat: no-repeat;*/
  /*background-size: 100% 100%;*/
  color: #39bbad;
}

.btn-sender #btn-sender:hover {
  /*background-image: url('http://static.tumblr.com/sirdwhf/pV8oc40h5/contact_sending.png');*/
  color: #fff4a3;
  border: 5px solid #fff4a3;
}


/* footer */

.footer {
  background-color: #fff;
  text-align: center;
  padding: 20px;
}

.footer p {
  font-size: 100%;
  margin: 1px 0px;
  color: #697668;
  font-weight: 600;
}

/* loading */

#loading {
  position: fixed;
  top: 30%;
  font-size: 300%;
  color: #fff;
  width: 100%;
  text-align: center;
  z-index: 3;
  display: none;
}

.glyphicon-refresh-animate {
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* alert */
#alert-success,
#alert-danger {
  position: fixed;
  width: 100%;
  top: 30%;
  text-align: center;
  z-index: 3;
  display: none;
}

.alert {
  display: inline;
  padding-right: 15px;
}

.alert .glyphicon-remove {
  cursor: pointer;
  margin-left: 20px;
}

/* */
@media only screen and (max-width: 1212px) {
  .budget .input-field .numbers-field {
    margin: 0.5em 0em;
    margin-bottom: 3em;
  }

  .budget .input-field .numbers-field .des {
    width: 14%;
  }
}

@media only screen and (max-width: 1024px) {
  .budget .input-field {
    padding: 20px 0px;
  }

  .budget .input-field .numbers-field {
    margin: 0.5em 0px;
    margin-bottom: 3em;
  }

  .budget .input-field .numbers-field .des {
    width: 13%;
  }
}