/* top post */

#top {
  width: 100%;
  display: block;
}

.top-post {
  width: 100%;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #fff;
}

.top-post a {
  display: block;
  padding: 1.2%;
  margin: 0px 5px 0px 5px;
}

.top-post a img {
  width: 100%;
  height: auto;
}


/* youtube */

.post_iframe {
  position: relative;
  height: auto;
}

div.play-button {
  height: 72px;
  width: 72px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -36px;
  margin-left: -36px;
  background: url("https://i.imgur.com/TxzC70f.png");
  background-repeat: no-repeat;
  cursor: pointer;
}

#product_video iframe {
  width: 90%;
  margin-bottom: 3%;
}

.labnolIframe {
  width: 100%;
  height: 100%;
}