@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
    background-color: #e6e6e6;
    font-family: 'Noto Sans TC', sans-serif;
}

/* container header */

.container {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #e3e3e3;
    width: 100%;
}

#header {
    background-color: #fff;
    display: table;
    padding: 0px 2px;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 501;
    border-bottom: 1px solid #E6E6E6;
}

.drawer_icon {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #E6E6E6;
    background-color: #fff;
    min-width: 48px;
    height: 38px;
    padding: 8px;
    position: relative;
    top: -8px;
    left: -10px;
}

.drawer_icon img {
    width: 100%;
}

#header .drawer_icon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 15px 10px;
    border-right: 1px solid #E6E6E6;
    width: 15%;
    visibility: hidden;
}

#header .drawer_icon img {
    height: 100%;
}

#header .title {
    display: table-cell;
    text-align: center;
    color: #8D8D8D;
    text-transform: uppercase;
    vertical-align: middle;
    width: 70%;
    font-size: 150%;
}

#header .find-us {
    display: table-cell;
    vertical-align: middle;
    height: inherit;
    height: 40px;
    width: auto;
    /*width: 100%;
    height: auto;*/
}

#header .find-us img {
    width: inherit;
    height: inherit;
    margin: 0px auto;
}

/* drawer */

.drawer-body {
    padding: 0px;
}

.center {
    padding-top: 0px;
    padding-left: 0px;
    background-color: #fff;
    text-align: center;
}

.drawer-controls{
    height: 45px;
}


/* shortcut */

#shortcut {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px 10px 50px 10px;
}

.avatar {
    width: 40%;
    margin: 5% auto;
}

.avatar img {
    width: 100%;
}

.avatar.circle img {
    border-radius: 100%;
}

.avatar img {
    overflow: hidden;
    display: inline-block;
}

.logo a {
    color: #767676;
    text-decoration: none;
}

.logo h1 a {
    font-size: 65%;
    font-weight: 300;
}

p.description {
    margin: 0px;
    font-size: 45%;
}


/* Navigation */

#navigation ul li {
    border-top: 2px #ddd solid;
    width: 90%;
    margin: 0px auto;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 100%;
    line-height: 1.5em;
    font-weight: 400;
    text-align: left;
}

#navigation ul li a {
    margin-left: 20%;
    color: #000;
}

.social_network {
    margin-bottom: 6vh;
    padding: 10px;
}

.social_network img {
    display: inline;
    height: 8vh;
    width: auto;
}

#navigation .label-chinese{
    display: inline-block;
    letter-spacing: 1px;
    width: 30%;
}

#navigation .label-english{
    display: inline;
    letter-spacing: 1px;
    font-size: 80%;
    width: 40%;
}

/* top post */

section {
    margin-top: 40px;
    margin-bottom: 40px;
    float: none;
    width: 100%;
    padding: 10px;
}

#top {
    width: 100%;
    display: block;
}

.top-post {
    width: 100%;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #fff;
}

.top-post a {
    display: block;
    padding: 1.2%;
    margin: 0px 5px 0px 5px;
}

.top-post a img {
    width: 100%;
    height: auto;
}

/* posts-holder */


/* grid-item */

.grid-item {
    padding: 20px;
    background-color: #fff;
}

.grid-item iframe,
.grid-item img {
    width: 100%;
}


/* youtube */

.post_iframe {
    position: relative;
    height: auto;
}

div.play-button {
    height: 72px;
    width: 72px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -36px;
    margin-left: -36px;
    background: url("http://i.imgur.com/TxzC70f.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

#product_video iframe {
    width: 90%;
    margin-bottom: 3%;
}

.labnolIframe {
    width: 100%;
    height: 100%;
}


/* mobile */

.tmblr-iframe--controls.iframe-controls--phone-mobile,
.tmblr-iframe--mobile-logged-in-controls.iframe-controls--phone-mobile {
    display: none;
}
