@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
    background-color: #e6e6e6;
    font-family: 'Noto Sans TC', sans-serif;
}


/* container header */

.container {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #e3e3e3;
    width: 100%;
}

#header {
    background-color: #fff;
    display: table;
    padding: 0px 0px;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
    border-bottom: 1px solid #E6E6E6;
}


/*.drawer_icon {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #E6E6E6;
    background-color: #fff;
    min-width: 48px;
    height: 40px;
    padding: 8px;
    position: relative;
    top: -10px;
    left: -10px;
}

.drawer_icon img {
    width: 100%;
}*/

#header .drawer_icon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0px 0px;
    border-right: 1px solid #E6E6E6;
    width: 15%;
}

#header .drawer_icon img {
    margin: 0px auto;
}

#header .title {
    display: table-cell;
    text-align: center;
    color: #8D8D8D;
    text-transform: uppercase;
    vertical-align: middle;
    width: 70%;
    font-size: 150%;
}

#header .find-us {
    display: table-cell;
    vertical-align: middle;
    height: inherit;
    height: 40px;
    width: auto;
    text-align: right;
    /*width: 100%;
    height: auto;*/
}

#header .find-us a, #header .find-us img{
    height: 100%;
    width: auto;
    margin: 0px auto;
}


/* drawer */

.drawer-body {
    padding: 0px;
}

.center {
    padding-top: 0px;
    padding-left: 0px;
    background-color: #fff;
    text-align: center;
}

.drawer-controls {
    height: 45px;
}


/* shortcut */

#shortcut {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px 10px 50px 10px;
}

.avatar {
    width: 40%;
    margin: 5% auto;
}

.avatar img {
    width: 100%;
}

.avatar.circle img {
    border-radius: 100%;
}

.avatar img {
    overflow: hidden;
    display: inline-block;
}

.logo a {
    color: #767676;
    text-decoration: none;
}

.logo h1 a {
    font-size: 65%;
    font-weight: 300;
}

p.description {
    margin: 0px;
    font-size: 45%;
}


/* Navigation */

#navigation ul li {
    border-top: 2px #ddd solid;
    width: 90%;
    margin: 0px auto;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 100%;
    line-height: 1.5em;
    font-weight: 400;
    text-align: left;
    list-style: none;
}

#navigation ul li a {
    margin-left: 20%;
    color: #000;
}

.social_network {
    margin-bottom: 6vh;
    padding: 10px;
}

.social_network img {
    display: inline;
    height: 8vh;
    width: auto;
}

#navigation .label-chinese {
    display: inline-block;
    letter-spacing: 1px;
    width: 30%;
}

#navigation .label-english {
    display: inline;
    letter-spacing: 1px;
    font-size: 80%;
    width: 40%;
}


/* section */

section {
    margin-top: 40px;
    margin-bottom: 40px;
    float: none;
    width: 100%;
    padding: 10px;
}


/* mobile */

.tmblr-iframe--controls.iframe-controls--phone-mobile,
.tmblr-iframe--mobile-logged-in-controls.iframe-controls--phone-mobile {
    display: none;
}

.tmblr-iframe--controls-phone-container {
    padding-top: 0px;
}


/* posts-holder */

.article-content h2 {
    font-size: 150%;
    margin-top: 0px;
    margin-bottom: 10px;
}

.article-content ul.icons {
    margin: 0px 0px -12px -5px;
}


/* grid-item */

.grid-item {
    padding: 10px;
    background-color: #fff;
    margin: 5px 0px;
}

.grid-item iframe,
.grid-item img {
    width: 100%;
}


/* fixed bootstrap drawer */

.drawer-controls {
    height: auto;
}

.drawer-contents{
    background-color: #fff;
}

/* fixed jquery mobile */

.ui-loader-default {
    display: none;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: none;
}
