section {
  background-color: #e6e6e6;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  background-image: url('http://static.tumblr.com/sirdwhf/erwohg1cd/service_bg.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0% 93%;
}

article {
  width: 100%;
}

/* header */

.header {
  text-align: center;
  background-color: #8c8c8c;
  height: 70px;
}

.header h1 {
  margin-top: 0px;
  color: #FFF;
  text-transform: none;
  line-height: 70px;
}


/* content */

.content {
  width: 90%;
  /*max-width: 960px;*/
  margin: 10px auto;
  color: #fff;
  text-align: center;
}

.area {
  display: inline-block;
  width: 27%;
  margin: 3%;
}

.area .photo {
  width: 80%;
  margin: 0px auto 12% auto;
  position: relative;
}

.area .photo img {
  display: block;
}

.area .photo:hover .photo-mask {
  display: block;
}

.area .photo .photo-mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

.photo-mask span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.area label {
  display: block;
  color: #555;
  margin: 5% auto;
  font-size: 120%;
}

.photo-mask label {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}

#content-footer {
  width: 75%;
  text-align: center;
  border-top: 6px dashed #f0dc70;
  margin: 7% auto;
  padding-top: 2%;
}

#content-footer .slogan {
  font-size: 20px;
  color: #313131;
}

#content-footer article {
  float: none;
  width: 100%;
  font-size: 16px;
  color: #7c7c7c;
}

/* footer */

.footer {
  background-color: #fff;
  text-align: center;
  padding: 20px;
}

.footer p {
  font-size: 100%;
  margin: 1px 0px;
  color: #697668;
  font-weight: 600;
}

@media only screen and (max-width: 1439px) {
  .area label.english {
    font-size: 100%;
  }
}

@media only screen and (max-width: 1311px) {
  .area label.english {
    font-size: 90%;
  }
}

@media only screen and (max-width: 1180px) {
  .area label.english {
    font-size: 80%;
  }
}