/* Selector */

.toggle {
  margin-top: -5px;
}

#selector {
  width: 100%;
  background-color: #333;
  color: #fff;
}

#selector h4 {
  font-size: 14px;
  padding-left: 4px;
}

#selector td {
  border-collapse: separate;
  vertical-align: top;
  padding: 5px;
  text-align: center;
  width: 33.33%;
}

#selector td .caption {
  font-size: 18px;
  color: #888;
  margin: 8px;
  word-spacing: 2px;
  letter-spacing: 2px;
}

#selector td .choice {
  float: left;
  width: 33.33%;
  font-size: 14px;
  padding: 5px;
  border: 2px solid #333;
  cursor: pointer;
}

#selector td .choice:hover {
  background-color: #333;
  color: #eee;
}

#selector td .choice .choice-ch {
  letter-spacing: 1px;
  white-space: nowrap;
}

#selector td .choice hr {
  margin-top: 1px;
  margin-bottom: 1px;
  border-top: 2px solid #777;
}

#selector td .choice .choice-en {
  font-size: 10px;
  letter-spacing: -0.5px;
  white-space: nowrap;
}

.unselected_choice {
  background-color: #eee;
  color: #333;
}

.selected_choice {
  background-color: #333;
  color: #eee;
}

#selector td .choice .selected_hr {
  border-top: 2px solid #eee;
}

/* effect*/

#effect.fixed-menu {
  position: fixed;
  top: -5px;
  width: 75%;
  z-index: 2;
}

.effect_field {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#393a3a+0,444445+35,403f3f+100 */
  background: #393a3a;
  /* Old browsers */
  background: -moz-linear-gradient(top, #393a3a 0%, #444445 35%, #403f3f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #393a3a 0%, #444445 35%, #403f3f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #393a3a 0%, #444445 35%, #403f3f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#393a3a', endColorstr='#403f3f', GradientType=0);
  /* IE6-9 */
  color: #ddd;
  margin-bottom: 5px;
  cursor: pointer;
}

.effect_field:hover {
  background: #00ffcc;
  color: #000;
}

.arrow_down,
#effect_table span {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
  letter-spacing: 2px;
}

.arrow_down {
  display: table-cell;
  vertical-align: middle;
  height: 30px;
  padding: 5px;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.arrow_down img {
  height: auto;
  width: 20px;
  vertical-align: baseline;
}

#effect_table {
  display: table;
  vertical-align: middle;
  margin: 4px 5px;
}

#effect_table .vertical_divider {
  margin: 0px 7px;
  color: #787878;
  font-weight: 600;
}

.selected {
  font-size: 14px;
  display: table-cell;
  background-color: #333;
  border-radius: 5px;
  border: 1px #eee solid;
  padding: 2px 10px;
  color: #eee;
}

.selected img,
input,
label {
  vertical-align: middle;
  display: initial;
  margin: 0px 3px;
}

#selected_tag {
  display: none;
}

.selected img {
  width: 15px;
  height: 15px;
}

.tip-open {
  display: block;
  margin: -20px 0px 5px 0px;
  color: #aaa;
  text-align: center;
}

/* divider */

#dividers {
  width: 100%;
  height: 5px;
  margin-bottom: 4px;
}

.divider {
  float: left;
  width: 33.33%;
  height: inherit;
  box-shadow: 0px 5px 10px 1px #cccccc;
}

.divider:nth-child(1) {
  background-color: #da9a9b;
}

.divider:nth-child(2) {
  background-color: #f9ec99;
}

.divider:nth-child(3) {
  background-color: #7fbbb0;
}

/* tooltip */

.tooltip {
  position: absolute;
  width: 140px;
}

.tooltip-inner {
  font-size: 12px;
  letter-spacing: 2px;
}

/* article  */
.double_size .article_content figure img {
  width: 100%;
}

.article_content figure img,
.article_content img {
  margin: 16px 0;
}

/* alert */

#alert-message {
  visibility: hidden;
  position: fixed;
  margin-bottom: 0px;
  padding: 0.7em 2em;
  font-size: 1.5em;
  z-index: 1;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: visibility 300ms ease, opacity 800ms ease;
}

/* article stickers*/

.stickers figure {
  display: inline;
}

.stickers .article_content img {
  display: inline-block;
  width: calc(33.33% - 10px);
  border: 1px solid #aaa;
  border-radius: 8px;
  margin: 5px;
}

.stickers.dev .article_content img {
  width: 100%;
}

.tmblr-full img {
  cursor: pointer;
}

@media only screen and (max-width: 1330px) {
  .effect_field {
    height: 45px;
  }

  .tip-open {
    margin: -15px 0px 0px 0px;
  }
}