/* Selector */
.toggle{
    margin-top: -5px;
}
#selector {
    width: 100%;
    background-color: #333;
    color: #fff;
}

#selector h4 {
    font-size: 14px;
    padding-left: 4px;
}

#selector td {
    border-collapse: separate;
    vertical-align: top;
    padding: 5px;
    text-align: center;
    width: 33.33%;
}

#selector td .caption{
    font-size: 18px;
    color: #888;
    margin: 8px;
    word-spacing: 2px;
    letter-spacing: 2px;
}

#selector td .choice{
    float: left;
    width: 33.33%;
    font-size: 14px;
    padding: 5px;
    border: 2px solid #333;
    cursor: pointer;
}

#selector td .choice:hover{
    background-color: #333;
    color: #eee;
}

#selector td .choice .choice-ch{
    letter-spacing: 1px;
    white-space: nowrap;
}
#selector td .choice hr{
    margin-top: 1px;
    margin-bottom: 1px;
    border-top: 2px solid #777;
}
#selector td .choice .choice-en{
    font-size: 10px;
    letter-spacing: -0.5px;
    white-space: nowrap;
}
.unselected_choice{
    background-color: #eee;
    color: #333;
}
.selected_choice{
    background-color: #333;
    color: #eee;
}
#selector td .choice .selected_hr{
    border-top: 2px solid #eee;
}
/* effect*/
#effect.fixed-menu{
    position: fixed;
    top: -5px;
    width: 75%;
    z-index: 2;
}
.effect_field{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#393a3a+0,444445+35,403f3f+100 */
    background: #393a3a; /* Old browsers */
    background: -moz-linear-gradient(top,  #393a3a 0%, #444445 35%, #403f3f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #393a3a 0%,#444445 35%,#403f3f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #393a3a 0%,#444445 35%,#403f3f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#393a3a', endColorstr='#403f3f',GradientType=0 ); /* IE6-9 */
    color: #ddd;
    margin-bottom: 5px;
    cursor: pointer;
}
.effect_field:hover{
    background: #00ffcc;
    color: #000;
}
.arrow_down,
#effect_table span {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    letter-spacing: 2px;
}

.arrow_down {
    display: table-cell;
    vertical-align: middle;
    height: 30px;
    padding: 5px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.arrow_down img {
    height: auto;
    width: 20px;
    vertical-align: baseline;
}

#effect_table {
    display: table;
    vertical-align: middle;
    margin: 4px 5px;

}
#effect_table .vertical_divider{
    margin: 0px 7px;
    color: #787878;
    font-weight: 600;
}

.selected {
    font-size: 14px;
    display: table-cell;
    background-color: #333;
    border-radius: 5px;
    border: 1px #eee solid;
    padding: 2px 10px;
    color: #eee;
}

.selected img,
input,
label {
    vertical-align: middle;
    display: initial;
    margin: 0px 3px;
}

#selected_tag {
    display: none;
}
.selected img{
    width: 15px;
    height: 15px;
}
.tip-open{
    display: block;
    margin: -20px 0px 5px 0px;
    color: #AAA;
    text-align: center;
}
/* divider */
#dividers{
    width: 100%;
    height: 5px;
    margin-bottom: 4px;
}
.divider{
    float: left;
    width: 33.33%;
    height: inherit;
    box-shadow: 0px 5px 10px 1px #cccccc;
}
.divider:nth-child(1){
    background-color: #DA9A9B;
}
.divider:nth-child(2){
    background-color: #F9EC99;
}
.divider:nth-child(3){
    background-color: #7FBBB0;
}
/* read more */
#readmore {
    width: 33.33%;
    margin: 0px auto;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

#readmore button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 28px 24px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #fff;
    border: none;
    color: #3498DB;
    font-weight: 600;
}

#readmore button:hover {
    background-color: #4990b8;
    color: #fff;
}

.load-more-loading,
.load-more-end {
    display: none;
}

img {
    display: inline;
}
/* youtube */
.post_iframe{
    position: relative;
    height: auto;
}
div.play-button { 
    height: 72px; 
    width: 72px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -36px;
    margin-left: -36px;
    background: url("http://i.imgur.com/TxzC70f.png");
    background-repeat: no-repeat;
    cursor: pointer;
}
#product_video iframe{
    width: 90%;
    margin-bottom: 3%;
}
.labnolIframe{
    width: 100%;
    height: 100%;
}
#preview_youtube{
    height: 450px;
    width: 600px;
    border: 5px #363636 solid;
    background-color: #363636;
    z-index: 110;
}
#preview_youtube figure, #preview_youtube figure iframe{
    height: 100%;
    width: 100%;
    border: 0px;
}
#preview_youtube #current_status{
    position: absolute;
    bottom: 0px;
    color: #FFF;
    background-color: #363636;
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 150%;
    line-height: 1.5em;
    display: table;
}
#preview_youtube #current_status div{
    display: table-cell;
    height: inherit;
    vertical-align: middle;
}
.preview_hide{
    display: none;
}
.preview_show{
    display: initial;
    position: absolute;
}
/* tooltip */
.tooltip{
    position: absolute;
    width: 140px;
}
.tooltip-inner{
    font-size: 12px;
    letter-spacing: 2px;
}

/* alert */
#alert-noposts{
    position: fixed;
    width: 80%;
    max-width: 300px;
    top: 30%;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0px auto;
    z-index: 3;
    display: none;
}

#alert-noposts .alert-dismissible{
    padding-right: 0px;
}

/* image preview */
#image-preview{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    margin: 0px auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    z-index: 3;
    display: none;
}

.arrow-left , .arrow-right, .preview-close{
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    margin: 0px 20px;
}

.arrow-left , .arrow-right, .preview-close:hover{
}

.middle-table{
    display: table;
    vertical-align: middle;
    width: 100%;
    height: 100vh;
}

.table-field{
    display: table-cell;
    vertical-align: middle;
}

.preview-close{
    display: table-row;
}

#image-preview img, .arrow-left , .arrow-right{
    max-height: 80vh;
    max-width: 60%;
}

/* article audio */
.type_audio iframe{
    width: 100%;
}