@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
    font-family: 'Noto Sans TC', sans-serif;
}
div.center{
    padding-top: 0px;
    padding-left: 0px;
}
div#shortcut{
    border-radius: 0px 0px 50px 0px;
}
.logo a {
    color: #000;
    text-decoration: none;
}
header p.description {
    margin: 0px;
    color: #000;
}
#navigation{
    margin-left: 0px;
    text-align: left;
    width: 100%;
    background-color: #e6e6e6;
}
#navigation ul li {
    width: 100%;
    margin-left: 0px;
    max-height: 30px;
}

#navigation ul li:nth-child(4) {
    margin-bottom: 30px;
}

#navigation ul li a {
    position: relative;
    background-color: #e6e6e6;
    padding: 0px;
    width: 75%;
}

.navigation-bottom {
    width: 100%;
    height: 3px;
    background: #b3b3b3;
    position: absolute;
    bottom: 0px;
}

.navigation-icon {
    display: inline-block;
    border-radius: 0px 10px 0px 0px;
    background-color: #b3b3b3;
    padding-right: 5px;
    width: 70%;
    margin-right: ;
}

.navigation-icon img {
    display: inline;
    height: 30px;
    width: auto;
    vertical-align: middle;
    margin-left: 10px;
}
.navigation-icon span{
    float: right;
    line-height: 2.5em;
    color: #000;
}

.navigation-label {
    float: right;
    display: block;
    line-height: 2.5em;
    color: #222;
    width: 60px;
    text-align: justify;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify;
}
.navigation-label:after{
    content: '';
    display: inline-block;
}
.navigation-bottom{
    width: 100%;
    height: 3px;
    background: #b3b3b3;
    position: absolute;
    bottom: 0px;
}
div.justify {
    text-align: justify;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify;
}

div.justify:after {
    content: '';
    display: inline-block;
    width: 100%;
}

#shortcut{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px 10px 50px 10px ;
}
.bottom-white{
    width: calc(100% - 32px);
    height: 30px;
    background-color: #FFF;
    border-radius: 0px 50px 0px 0px;
    position: absolute;
    bottom: 100px;
}
.modal-body img{
    margin: 0px auto;
}
.modal-footer button{
    margin-left: 20px;
}
.modal-footer p{
    line-height: 30px;
    text-align: left;
}
#top{
    width: 100%;
    display: table;
    margin: 5px -3px;
}
.top-post{
    width: 50%;
    display: table-cell;
    vertical-align: middle;
}
.top-post a{
    display: block;
    padding: 1.2%;
    background-color: #fff;
    margin: 0px 5px 0px 5px;
}
.top-post a img{
    width: 100%;
    height: auto;
}
.top-post:nth-child(2) a:nth-child(2){
    margin-top: 10px;
    margin-bottom: 10px;
}
.social_network{
    margin-top: 10px;
}
.social_network img{
    display: inline;
    height: 35px;
    width: auto;
}
.single-post article{
    margin: 30px auto;
    width: 100%;
}
.single-post article.type_text{
    max-width: 1024px;
}
.single-post article .article-content{
    padding: 0px;
}
/*@media screen and (max-height: 850px) {*/
/*    .logo{*/
/*        margin-top: 10px;*/
/*    }*/
/*    .description{*/
/*        margin-top: 0px;*/
/*        margin-bottom: 10px;*/
/*    }*/
/*    .centered nav{*/
/*        margin-top: 30px;*/
/*    }*/
/*}*/
@media only screen and (min-width: 1800px) {
    
}
@media only screen and (min-width: 1420px) {
    
}
@media only screen and (max-width: 1024px) {
    #top{
        display: block;
    }
    .top-post{
        width: 100%;
        display: block;
        margin: 5px 0px;
    }
}
@media only screen and (max-width: 768px) {
    #top{
        display: block;
    }
    .top-post{
        width: 100%;
        display: block;
        margin: 5px 0px;
    }
}