@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
    background-color: #e6e6e6;
    font-family: 'Noto Sans TC', sans-serif;
}
h2{
    font-size: 20px;
}
/* navigation */
header .logo h1{
    font-weight: bold;
    text-transform: none;
}
div.center{
    padding-top: 0px;
    padding-left: 0px;
}
header .center .centered{
    display: block;
    height: 100vh;
    overflow: auto;
}
div#shortcut{
    border-radius: 0px 0px 50px 0px;
}
.logo a {
    color: #000;
    text-decoration: none;
}
header p.description {
    margin: 0px;
}
#navigation {
    margin-left: 0px;
    text-align: left;
    width: 100%;
    background-color: #e6e6e6;
}

#navigation ul li {
    width: 100%;
    margin-left: 0px;
    max-height: 30px;
}

#navigation ul li:nth-child(4) {
    margin-bottom: 30px;
}

#navigation ul li a {
    position: relative;
    background-color: #e6e6e6;
    padding: 0px;
    width: 250px;
}

.navigation-icon {
    display: inline-block;
    border-radius: 0px 10px 0px 0px;
    background-color: #b3b3b3;
    padding-right: 5px;
    width: 175px;
}

.navigation-icon img {
    display: inline;
    margin-left: 10px;
    height: 30px;
    width: auto;
    vertical-align: middle;
}
.navigation-icon span{
    float: right;
    line-height: 2.5em;
    color: #000;
}

.navigation-label {
    float: right;
    display: block;
    line-height: 2.5em;
    color: #222;
    width: 65px;
    text-align: justify;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify;
}
.navigation-label:after{
    content: '';
    display: inline-block;
}

.navigation-bottom {
    width: 100%;
    height: 3px;
    background: #b3b3b3;
    position: absolute;
    bottom: 0px;
}
div.justify {
    text-align: justify;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;
    -moz-text-align-last: justify;
    -webkit-text-align-last: justify;
}

div.justify:after {
    content: '';
    display: inline-block;
    width: 100%;
}

#shortcut {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px 10px 50px 10px;
}
.social_network{
    margin-top: 10px;
}
.social_network img {
    display: inline;
    height: 35px;
    width: auto;
}
.bottom-white{
    width: calc(100% - 32px);
    height: 30px;
    background-color: #FFF;
    border-radius: 0px 50px 0px 0px;
    position: absolute;
    bottom: 100px;
}
/* modal */
.modal-body img {
    margin: 0px auto;
}

.modal-footer button {
    margin-left: 20px;
}

.modal-footer p {
    line-height: 30px;
    text-align: left;
}

#work-header img {
    width: 100%;
}


/* Selector */
.toggle{
    margin-top: -5px;
}
#selector {
    width: 100%;
    background-color: #333;
    color: #fff;
}

#selector h4 {
    font-size: 14px;
    padding-left: 4px;
}

#selector td {
    border-collapse: separate;
    vertical-align: top;
    padding: 5px;
    text-align: center;
    width: 33.33%;
}

#selector td .caption{
    font-size: 18px;
    color: #888;
    margin: 8px;
    word-spacing: 2px;
    letter-spacing: 2px;
}

#selector td .choice{
    float: left;
    width: 33.33%;
    font-size: 14px;
    padding: 5px;
    border: 2px solid #333;
    cursor: pointer;
}
#selector td .choice .choice-ch{
    letter-spacing: 3px;
    white-space: nowrap;
}
#selector td .choice hr{
    margin-top: 1px;
    margin-bottom: 1px;
    border-top: 2px solid #777;
}
#selector td .choice .choice-en{
    font-size: 10px;
    letter-spacing: -0.5px;
    white-space: nowrap;
}
.unselected_choice{
    background-color: #eee;
    color: #333;
}
.selected_choice{
    background-color: #333;
    color: #eee;
}
#selector td .choice .selected_hr{
    border-top: 2px solid #eee;
}
/* effect*/
#effect{
    
}
#effect:hover{
    
}
#effect.fixed-menu{
    position: fixed;
    top: -5px;
    width: 75%;
    z-index: 100;
}
.effect_field{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#393a3a+0,444445+35,403f3f+100 */
    background: #393a3a; /* Old browsers */
    background: -moz-linear-gradient(top,  #393a3a 0%, #444445 35%, #403f3f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #393a3a 0%,#444445 35%,#403f3f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #393a3a 0%,#444445 35%,#403f3f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#393a3a', endColorstr='#403f3f',GradientType=0 ); /* IE6-9 */

    margin-bottom: 5px;
    cursor: pointer;
}
.effect_field:hover{
    background: #29c2af;
}
.arrow_down,
#effect_table span {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    color: #ddd;
    letter-spacing: 2px;
}

.arrow_down {
    display: table-cell;
    vertical-align: middle;
    height: 30px;
    padding: 5px;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.arrow_down img {
    height: auto;
    width: 20px;
    vertical-align: baseline;
}

#effect_table {
    display: table;
    vertical-align: middle;
    margin: 4px 5px;

}
#effect_table .vertical_divider{
    margin: 0px 7px;
    color: #787878;
    font-weight: 600;
}

.selected {
    font-size: 14px;
    display: table-cell;
    background-color: #333;
    border-radius: 5px;
    border: 1px #eee solid;
    padding: 2px 10px;
    color: #eee;
}

.selected img,
input,
label {
    vertical-align: middle;
    display: initial;
    margin: 0px 3px;
}

#selected_tag {
    display: none;
}
.selected img{
    width: 15px;
    height: 15px;
}
.tip-open{
    display: block;
    margin: -20px 0px 5px 0px;
    color: #AAA;
    text-align: center;
}
/* divider */
#dividers{
    width: 100%;
    height: 5px;
    margin-bottom: 4px;
}
.divider{
    float: left;
    width: 33.33%;
    height: inherit;
    box-shadow: 0px 5px 10px 1px #cccccc;
}
.divider:nth-child(1){
    background-color: #DA9A9B;
}
.divider:nth-child(2){
    background-color: #F9EC99;
}
.divider:nth-child(3){
    background-color: #7FBBB0;
}
/* article */
article,
.grid-item {
    width: 33.33%;
}

.grid-item {
    background-color: #fff;
    padding: 40px;
    border: 2px #e6e6e6 solid;
}

.article_content iframe {
    width: 100%;
}

.video-container iframe {
    width: 100%;
    height: auto;
}
#youtube_iframe{
    height: auto;
}
.readmore{
    display: block;
}
u{
    text-decoration: underline;
}
/* read more */
#readmore {
    width: 33.33%;
    margin: 0px auto;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

#readmore button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 28px 24px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #fff;
    border: none;
    color: #3498DB;
    font-weight: 600;
}

#readmore button:hover {
    background-color: #4990b8;
    color: #fff;
}

.load-more-loading,
.load-more-end {
    display: none;
}

img {
    display: inline;
}
/* modal */
.modal-body{
    text-align: center;
}
/* youtube */
.post_iframe{
    position: relative;
    height: auto;
}
div.play-button { 
    height: 72px; 
    width: 72px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -36px;
    margin-left: -36px;
    background: url("http://i.imgur.com/TxzC70f.png");
    background-repeat: no-repeat;
    cursor: pointer;
}
#product_video iframe{
    width: 90%;
    margin-bottom: 3%;
}
.labnolIframe{
    width: 100%;
    height: 100%;
}

/* ---- grid ---- */

.grid {
    background: #E6E6E6;
}


/* clearfix */

.grid:after {
    content: '';
    display: block;
    clear: both;
}


/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
    width: 33.33%;
}

.grid-item {
    float: left;
}
@media only screen and (min-width: 768px) {
    .grid-sizer,
    .grid-item {
        width: 100%;
    }
}
@media only screen and (min-width: 1024px) {
    .grid-sizer,
    .grid-item {
        width: 50%;
    }
}
@media only screen and (min-width: 1420px) {
    .grid-sizer,
    .grid-item {
        width: 33.33%;
    }
}
@media only screen and (min-width: 1800px) {
    .grid-sizer,
    .grid-item {
        width: 25%;
    }
}